<template>
            <v-card class="my-9">
                <v-img
                    height="200px"
                    src="https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg"
                >
                    <v-app-bar
                        flat
                        color="rgba(0, 0, 0, 0)"
                    >
                        <v-app-bar-nav-icon color="white"></v-app-bar-nav-icon>

                        <v-toolbar-title class="title white--text pl-0">
                            Messages
                        </v-toolbar-title>

                        <v-spacer></v-spacer>

                        <v-btn
                            color="white"
                            icon
                        >
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </v-app-bar>

                    <v-card-title class="white--text mt-8">
                        <v-avatar size="56">
                            <img
                                alt="user"
                                src="https://cdn.pixabay.com/photo/2020/06/24/19/12/cabbage-5337431_1280.jpg"
                            >
                        </v-avatar>
                        <p class="ml-3">
                            John Doe
                        </p>
                    </v-card-title>
                </v-img>

                <v-card-text>
                    <div class="font-weight-bold ml-8 mb-2">
                        Today
                    </div>

                    <v-timeline
                        align-top
                        dense
                    >
                        <v-timeline-item
                            v-for="message in messages"
                            :key="message.time"
                            :color="message.color"
                            small
                        >
                            <div>
                                <div class="font-weight-normal">
                                    <strong>{{ message.from }}</strong> @{{ message.time }}
                                </div>
                                <div>{{ message.message }}</div>
                            </div>
                        </v-timeline-item>
                    </v-timeline>
                </v-card-text>
            </v-card>
</template>

<script>
export default {
    name: 'ReadBooks',
    data: () => ({
        messages: [
            {
                from: 'You',
                message: `Sure, I'll see you later.`,
                time: '10:42am',
                color: 'deep-purple lighten-1',
            },
            {
                from: 'John Doe',
                message: 'Yeah, sure. Does 1:00pm work?',
                time: '10:37am',
                color: 'green',
            },
            {
                from: 'You',
                message: 'Did you still want to grab lunch today?',
                time: '9:47am',
                color: 'deep-purple lighten-1',
            },
        ],
    }),
};
</script>

<style scoped>

</style>
